In [1]:
import numpy as np
import sklearn
import pandas as pd

In [2]:
df = pd.read_csv("species.csv")
print(df)

   species_id             genus          species                   taxa
0          AB        Amphispiza        bilineata                   Bird
1          AH  Ammospermophilus          harrisi    Rodent-not censused
2          AS        Ammodramus       savannarum                   Bird
3          BA           Baiomys          taylori                 Rodent
4          CB   Campylorhynchus  brunneicapillus                   Bird
5          CM       Calamospiza      melanocorys                   Bird
6          CQ        Callipepla         squamata                   Bird
7          CS          Crotalus       scutalatus                Reptile
8          CT     Cnemidophorus           tigris                Reptile
9          CU     Cnemidophorus        uniparens                Reptile
10         CV          Crotalus          viridis                Reptile
11         DM         Dipodomys         merriami                 Rodent
12         DO         Dipodomys            ordii                 Rodent
13         DS         Dipodomys      spectabilis                 Rodent
14         DX         Dipodomys              sp.                 Rodent
15         EO           Eumeces        obsoletus                Reptile
16         GS          Gambelia            silus                Reptile
17        NaN           Neotoma         albigula                 Rodent
18         NX           Neotoma              sp.                 Rodent
19         OL         Onychomys      leucogaster                 Rodent
20         OT         Onychomys         torridus                 Rodent
21         OX         Onychomys              sp.                 Rodent
22         PB       Chaetodipus          baileyi                 Rodent
23         PC            Pipilo        chlorurus                   Bird
24         PE        Peromyscus         eremicus                 Rodent
25         PF       Perognathus           flavus                 Rodent
26         PG         Pooecetes        gramineus                   Bird
27         PH       Perognathus         hispidus                 Rodent
28         PI       Chaetodipus      intermedius                 Rodent
29         PL        Peromyscus         leucopus                 Rodent
30         PM        Peromyscus      maniculatus                 Rodent
31         PP       Chaetodipus     penicillatus                 Rodent
32         PU            Pipilo           fuscus                   Bird
33         PX       Chaetodipus              sp.                 Rodent
34         RF   Reithrodontomys       fulvescens                 Rodent
35         RM   Reithrodontomys        megalotis                 Rodent
36         RO   Reithrodontomys         montanus                 Rodent
37         RX   Reithrodontomys              sp.                 Rodent
38         SA        Sylvilagus        audubonii                 Rabbit
39         SB          Spizella          breweri                   Bird
40         SC        Sceloporus           clarki                Reptile
41         SF          Sigmodon      fulviventer                 Rodent
42         SH          Sigmodon         hispidus                 Rodent
43         SO          Sigmodon     ochrognathus                 Rodent
44         SS      Spermophilus        spilosoma    Rodent-not censused
45         ST      Spermophilus     tereticaudus    Rodent-not censused
46         SU        Sceloporus        undulatus                Reptile
47         SX          Sigmodon              sp.                 Rodent
48         UL            Lizard              sp.                Reptile
49         UP            Pipilo              sp.                   Bird
50         UR            Rodent              sp.                 Rodent
51         US           Sparrow              sp.                   Bird
52         XX               NaN              NaN  Zero Trapping Success
53         ZL       Zonotrichia       leucophrys                   Bird
54         ZM           Zenaida         macroura                   Bird

In [28]:
taxa = df['taxa'].value_counts()
print(taxa)

Rodent                   28
Bird                     13
Reptile                   9
Rodent-not censused       3
Rabbit                    1
Zero Trapping Success     1
Name: taxa, dtype: int64

In [29]:
genus = df['genus'].value_counts()
print(genus)

Reithrodontomys     4
Dipodomys           4
Chaetodipus         4
Sigmodon            4
Peromyscus          3
Onychomys           3
Pipilo              3
Crotalus            2
Cnemidophorus       2
Neotoma             2
Sceloporus          2
Perognathus         2
Spermophilus        2
Lizard              1
Sylvilagus          1
Rodent              1
Sparrow             1
nan                 1
Zonotrichia         1
Spizella            1
Amphispiza          1
Pooecetes           1
Ammospermophilus    1
Gambelia            1
Eumeces             1
Callipepla          1
Calamospiza         1
Campylorhynchus     1
Baiomys             1
Ammodramus          1
Zenaida             1
Name: genus, dtype: int64

In [36]:
df.describe()

       species_id            genus species    taxa
count          55               55      55      55
unique         55               31      45       6
top            AB  Reithrodontomys     sp.  Rodent
freq            1                4      10      28